* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

a {
    text-decoration: none;
    color: black;
}

body {
    padding: 20px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    align-items: center;

}

.logout {
    cursor: pointer;
}

.registration {
    display: flex;
    gap: 20px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;

}

section p {
    width: 400px;
}
 h2 {
    width: 400px;
 }

.context {
    padding-left: 20px;
}

.info {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.ToPage {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

section img {
    width: 400px;
}

.CreatePost {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
}

.CreatePost button {
    height: 40px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

input {
    height: 40px;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .ToPage {
        flex-direction: column;
        align-items: center;
    }

    header {
        flex-direction: column
    }

    .CreatePost {
        width: 400px;
    }
    .ToPage {
       text-align: center;
    }
    .info {
        flex-direction: column;
    }
     h2 {
       width: 400px; 
    }
}